# [作業目標]

1. 請建立類似提供結果的 DataFrame：

```
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

```

2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

```
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon
```

3. 假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

In [1]:
# 連接個人資料 讀取 ＰＴＴ 訓練資料和儲存模型
#先連接自己的GOOGLE DRIVE 為了要儲存資料和訓練模型
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os

# Current directory
print(os.getcwd())

# change directory
os.chdir('/content/drive/MyDrive/python_training/PYTHON100Days/D09-Pandas_DataFrame的初始化/')
print(os.getcwd())

/content
/content/drive/MyDrive/python_training/PYTHON100Days/D09-Pandas_DataFrame的初始化

# 作業

### 1. 請建立類似提供結果的 DataFrame：

```
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

```

In [3]:
# 記得先 Import 正確的套件
# 載入 NumPy, Pandas 套件
import numpy as np
import pandas as pd

# 檢查正確載入與版本
print(np)
print(np.__version__)
print(pd)
print(pd.__version__)

df = pd.DataFrame([[30,21]],index=['0'],columns=['Apples',  'Bananas'])
print(df)

<module 'numpy' from '/usr/local/lib/python3.7/dist-packages/numpy/__init__.py'>
1.19.5
<module 'pandas' from '/usr/local/lib/python3.7/dist-packages/pandas/__init__.py'>
1.1.5
   Apples  Bananas
0      30       21

In [4]:
df = pd.DataFrame([[30,21],[41,34]],index=['2017 Sales','2018 Sales'],columns=['Apples',  'Bananas'])
print(df)

            Apples  Bananas
2017 Sales      30       21
2018 Sales      41       34

### 2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

```
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon
```

In [5]:
df=pd.DataFrame({
    'city':['Austin','Dallas','Austin','Dallas'],
    'visitor':[139,237,326,456],
    'weekday':['Sun','Sun','Mon','Mon']
})
print(df)
df

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      326     Mon
3  Dallas      456     Mon

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      326     Mon
3  Dallas      456     Mon

### 3. 承上題，假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

In [6]:
sun_mean=df[df['weekday']=='Sun']['visitor'].mean()
mon_mean=df[df['weekday']=='Mon']['visitor'].mean()
print(sun_mean)
print(mon_mean)

188.0
391.0