# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [1]:
# 記得先 Import 正確的套件
# 載入 NumPy, Pandas 套件
import numpy as np
import pandas as pd

# 檢查正確載入與版本
print(np)
print(np.__version__)
print(pd)
print(pd.__version__)

<module 'numpy' from '/usr/local/lib/python3.7/dist-packages/numpy/__init__.py'>
1.19.5
<module 'pandas' from '/usr/local/lib/python3.7/dist-packages/pandas/__init__.py'>
1.1.5

In [2]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [3]:

dog_avg=df[df['animal']=='dog'].age.mean()
print('dog age avg:',dog_avg)
cat_avg=df[df['animal']=='cat'].age.mean()
print('cat age avg:',cat_avg)
snake_avg=df[df['animal']=='snake'].age.mean()
print('snake age avg:',snake_avg)

animal_sort=df.sort_values(by=['age','visits'], ascending=False)
print('animal sort age visits:',animal_sort)
df['priority_TF']=df.priority.apply(lambda x:'True' if x=='yes' else 'False')
print('priority TF:',df)

dog age avg: 5.0
cat age avg: 2.5
snake age avg: 2.5
animal sort age visits:   animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
b    cat  3.0       3      yes
j    dog  3.0       1       no
a    cat  2.5       1      yes
f    cat  2.0       3       no
c  snake  0.5       2       no
d    dog  NaN       3      yes
h    cat  NaN       1      yes
priority TF:   animal  age  visits priority priority_TF
a    cat  2.5       1      yes        True
b    cat  3.0       3      yes        True
c  snake  0.5       2       no       False
d    dog  NaN       3      yes        True
e    dog  5.0       2       no       False
f    cat  2.0       3       no       False
g  snake  4.5       1       no       False
h    cat  NaN       1      yes        True
i    dog  7.0       2       no       False
j    dog  3.0       1       no       False

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [4]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.687601  0.184166  0.613692
1  0.039118  0.834661  0.471662
2  0.030459  0.152475  0.524684
3  0.056858  0.280300  0.794141
4  0.127240  0.241465  0.133077

In [5]:
# 1) 該欄位的平均數
# 2) 該筆資料平均數
print(df.mean())
print(df.mean(axis=1))

0    0.188255
1    0.338614
2    0.507451
dtype: float64
0    0.495153
1    0.448480
2    0.235873
3    0.377099
4    0.167261
dtype: float64

### 3. 承上題，請問：

1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

In [6]:
df

          0         1         2
0  0.687601  0.184166  0.613692
1  0.039118  0.834661  0.471662
2  0.030459  0.152475  0.524684
3  0.056858  0.280300  0.794141
4  0.127240  0.241465  0.133077

In [7]:
df.sum()

0    0.941276
1    1.693068
2    2.537256
dtype: float64

In [8]:
# 1) 哪一比的資料總合最小
min_col_sum=df.sum().argmin()
print('min col:', min_col_sum)

min col: 0

In [9]:
df.sum(axis=1)

0    1.485460
1    1.345440
2    0.707618
3    1.131298
4    0.501783
dtype: float64

In [10]:
#  2) 哪一欄位的資料總合最小
min_row_sum=df.sum(axis=1).argmin()
print('min row:', min_row_sum)

min row: 4